*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
     display: flex;
     flex-direction: column;
} 
.banner {
    width: auto;
    height: 100px;
    /* display: flex; */
 }
.nav {
    width: auto;
    height: 80px;
    background-color:royalblue;
}
.nav a {
    text-decoration: none;
    text-align: center;
    display: block;
}
.navlist {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.banner-1 {
    height: 40px;
    width: auto;
    background: gray;
}
.banner-2 {
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    height: 300px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}
.products {
    display: flex;
    height: 400px;
    width: auto;
    background-color: lightpink;
    border: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.items {
    display: flex;
    height: 100px;
    width: 150px;
    justify-content: center;
    background-color: salmon;
    margin: 20px;
    align-items: center;
} 
.footer {
    display: flex;
    background-color: lightgray;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
}